body{ color:#555555;font-size:13px; }
/*layout*/
.topBar{ position: fixed; z-index:1030; top:0; left:0; width:100%; height:24px; font:12px/1 a; background:#EEE;}
.header{ position: fixed; z-index: 1020; top:24px; left:0; width:100%; height:60px; background:#FFF; border-bottom:1px #DDD solid; box-shadow:2px 0 5px rgba(0,0,0,.1) }
.mainWrapper{position:relative; z-index:1010; width:100%; margin-top:84px;}
.side{ position:relative; z-index:300; width:189px; float:left;}
.main{ margin-left:190px; position: relative; z-index: 200;}
.header{
	-webkit-box-shadow: 0 1px rgba(0,0,0,.09);
	-moz-box-shadow: 0 1px rgba(0,0,0,.09);
	box-shadow: 0 1px rgba(0,0,0,.09);
	border: solid 1px #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,.12), rgba(255,255,255,.12) 80%);
	background-image: -moz-linear-gradient(bottom, rgba(170,170,170,.12), rgba(255,255,255,.12) 80%);
	background-image: -o-linear-gradient(bottom, rgba(170,170,170,.12), rgba(255,255,255,.12) 80%);
	background-image: -ms-linear-gradient(bottom, rgba(170,170,170,.12), rgba(255,255,255,.12) 80%);
	background-image: linear-gradient(to top, rgba(170,170,170,.12), rgba(255,255,255,.12) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
}

.main>.row{ margin:0; float:left; width:100%;}
.main>.breadcrumb[class*="position-fixed"]+.row{ margin-top: 47px;}

.breadcrumb{ width:100%; z-index:199; background:#fff; border-bottom:1px #ddd solid; margin-bottom:10px;}
.breadcrumb [class^="ico-"]{ color:#aaa;}

@media screen and (max-width:768px){ 
	.side{ display:none;}
	.main{margin-left:0;}
}

/*=====elements=====*/
a[class^="btn-"]:hover{ text-decoration:none; cursor: pointer;}
textarea,input[type=text],input[type=email],input[type=number],input[type=tel],input[type=url],input[type=search],input[type=password],select{
	padding:3px 12px;
	border:1px #E5E5E5 solid;
	border-radius:0;
	-webkit-box-shadow:none;
}
textarea:hover,input[type=text]:hover,input[type=email]:hover,input[type=number]:hover,input[type=tel]:hover,input[type=url]:hover,input[type=search]:hover,select:hover{
	border-color:#CECECE;
}
textarea:focus,input[type=text]:focus,input[type=email]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=search]:focus,select:focus{
	outline-color:#BFF0FF;
}
.clear-left{ clear:left!important;}
.clear-right{ clear:right!important;}
.position-relative{ position: relative;}
.position-absolute{ position: absolute;}
.position-fixed{ position: fixed;}
.ico-bordered{display:inline-block; border:1px #eee solid; box-shadow:1px 1px 4px rgba(0,0,0,.05),-1px -1px 4px rgba(0,0,0,.05); padding:.2em .5em; margin:.1em; border-radius:.2em; }
.copyright{ padding:.4em 0 0 .6em; color:#929292; text-shadow:0px 1px 0 rgba(255,255,255,1)}
.usermenu{ padding-right:.6em;}
.topBar [class*="btn-"],.topBar [class="dropdown-toggle"]{ font-size:11px; padding:.4em .6em 0;}
.topBar .btn-group{ display:inline;}
.dropdown-menu{min-width:1px;}
.dropdown-menu:before{content:"";border:6px transparent solid; border-bottom:7px #ccc solid; position: absolute; top:-13px; left:3px;}
.dropdown-menu:after{content:"";border:6px transparent solid; border-bottom:6px #fff solid; position: absolute; top:-11px; left:3px;}
.dropdown-menu.pull-right:before{content:"";border:6px transparent solid; border-bottom:7px #ccc solid; position: absolute; top:-13px; right:3px; left:auto;}
.dropdown-menu.pull-right:after{content:"";border:6px transparent solid; border-bottom:6px #fff solid; position: absolute; top:-11px; right:3px; left:auto;}
.pull-right .dropdown-menu{ right:0; left:auto;}
.user-icon img{ width:16px; height:16px; border:1px #CECECE solid; padding:1px; }
.w-smaller{ width:5%;}
.w-small{ width:10%;}
.w-medium{ width:25%;}
.w-half{ width:50%;}
.w-large{ width:75%;}
.primary{ color:#333!important;}
.green{ color:#87B87F!important;}
.red{ color:#B94A48!important;}
.orange{ color:#C09853!important;}
.blue{ color:#428BCA!important;}
.violet{color:#8161BA!important;}
.ml-x{margin-left:1.4em;}
.ml-2x{margin-left:2em;}
.mr-x{margin-right:1.4em;}
.mr-2x{margin-right:2em;}
.mb-x{margin-bottom:1em;}
.mb-2x{margin-bottom:2em;}
.space, .vspace {max-height: 1px;min-height: 1px;overflow: hidden;margin: 12px 0;}
.line-solid{ border-bottom:1px #eee solid;}
.line-dotted{ border-bottom:1px #eee dotted;}
.line-double-dotted{ height:2px; border:1px #E3E3E3 dotted; border-width:1px 0;}

/*=======components=======*/
.brand{ width:190px; font-size:48px; color:#757575;}
.brand img{ max-width:190px; max-height:60px; vertical-align: top;}
.main-nav{ margin-left:190px; position: relative;}
.main-nav>.nav{ text-align:right; margin-right:30px; white-space: nowrap; overflow:hidden;}
.main-nav>.nav>li{ display:inline-block;*display:inline;zoom:1; text-align:center;}
.main-nav>.nav>li>a{ font-size:11px; height:60px; padding:10px 25px 0;color:#aaa;}
.main-nav>.nav>li>a>i[class*="ico-"]{font-size:24px;}
.main-nav>.nav>li>a:hover>i{ color:#55A5E8;}
.btn-scroll-right{ position: absolute; top:0;right:0; width:26px; height:99%; border-left:1px #EEEEEE solid;}
.btn-scroll-right #main-scroll-left,.btn-scroll-right #main-scroll-right{position: absolute;width:100%;height:50%;left:0;font-size:100%;line-height:210%;text-align:center;background:#F5F5F5;color:#ddd;}
.btn-scroll-right #main-scroll-left{ top:0;}
.btn-scroll-right #main-scroll-right{ bottom:0; border-top:1px #EEEEEE solid;}
.btn-scroll-right #main-scroll-left:hover,.btn-scroll-right #main-scroll-right:hover{ text-decoration:none;}
.btn-scroll-right #main-scroll-left.active,.btn-scroll-right #main-scroll-right.active{cursor:pointer;text-decoration:none;background:#AAD4E6; border-left:1px #A4CADA solid; color:#FFF; opacity:.6;filter:alpha(opacity=60);}
.btn-scroll-right #main-scroll-left.active:hover,.btn-scroll-right #main-scroll-right.active:hover{ opacity:1; filter:alpha(opacity=100);}

.side-nav{ position: relative; z-index:10;}
.side-nav:before{ content: "";display: block;width: 189px;position: fixed;bottom: 0;top: 0;z-index: -1;background-color: #f2f2f2;border-right: 1px solid #ccc; }
.side-nav>.nav{width:188px;}
.side-nav>.nav>li>a{ color:#646464; border-bottom:1px #E5E5E5 solid; cursor: pointer;}
.side-nav>.nav>li>a>i{ margin-right:.4em; font-size:120%;}
.side-nav>.nav>li>a.dropdown-toggle>.arrow-dropdown{ border:0;font-family: "icomoon"; position: absolute; right:30px; top:11px; color:#aaa;}
.side-nav>.nav>li>a.dropdown-toggle>.arrow-dropdown:before{ content:"\e1c7"}
.side-nav>.nav>li>a.dropdown-toggle>.arrow-dropdown:hover{ color:#55A5E8;}
.side-nav>.nav>li.active>a{ background:#FCFCFC; color:#2E79B9; font-weight:700;}
.side-nav>.nav>li.active>a.dropdown-toggle+.submenu{display:block;}

.submenu{ display:none;}
.submenu,.submenu>li{ list-style:none; margin:0; padding:0;}
.submenu{ border:1px solid #fff; border-top-color:#f2f2f2; border-bottom-color:#E3E3E3;}
.submenu>li{ border-bottom:1px #E0E0E0 dotted; background:#FFF; }
.submenu>li>a{ display:block; position:relative; padding:10px 10px; margin:0 0 0 10px; border-left:1px #8EB3D0 dotted; color:#aaa; text-indent:.3em;}
.submenu>li>a:before{ content: ""; width:10px; border-top:1px #55A5E8 dotted; color:#8EB3D0; position: absolute; left:0; top:50%;}
.submenu>li.active>a,.submenu>li>a:hover{ color:#55A5E8; text-decoration:none;  }
.submenu>li.active>a:before,.submenu>li>a:hover:before{ font-family:"icomoon"; font-size:small; content:"\e10a"; border:none; top:26%; left:-9px;}
.submenu>li.active>a,.submenu>li.active>a:before{color:#2E79B9;}

.submenu>li:last-child{ border:none;}

.form-view{ width:100%; padding:15px 0;}
.page-view .page-header{margin: 0 0 12px; padding:0 0 10px 10px;}
.page-view .page-header:first-child{border-bottom: 1px dotted #e2e2e2;}
.page-view .page-header h1{ color:#2E79B9; font-size:24px; margin:0;}
.page-view .page-header h1 small{ font-size:14px;}

/*=======toolbar=======*/
.toolbar-slide-btn{ position: fixed; right:0; z-index:202; width:30px; height:30px; line-height:28px; margin-top:5px; background-color:#9DD3FF; border:1px #A7D8FF solid; border-width:1px 0; text-align:center;-o-transition:all 200ms; -moz-transition:all 200ms; -webkit-transition:all 200ms; transition:all 200ms; }
.toolbar-slide-btn.shrink{border-width:1px; font-size:0; background:#CD0140; text-shadow:none;border:1px #AF0036 solid;}
.toolbar-slide-btn.shrink:before{content:"\e091";font-family: "icomoon"; font-size:12px!important; font-weight:100; color:#FFF; }
.toolbar{ position:fixed; right:0; z-index:201; width:30px; margin-top:5px; background:#E8F5FF; border:1px #D6EDFF solid; border-width:1px 0 1px 1px; padding-top:31px; opacity:.9; filter:alpha(opacity=90); -webkit-transition:all 200ms; }
.toolbar.shrink{ right:-100%; }
.toolbar .tools>li{ position: relative;}
.toolbar .tools>li>a{display: block; text-align:center; padding:.6em 0; opacity:.4; filter:alpha(opacity=40);}
.toolbar .tools>li>a:hover{text-decoration:none; opacity: 1; filter:alpha(opacity=100); cursor:pointer;}
.toolbar .toolbar-develop{ position:absolute; top:-1000%; right:110%; z-index:-1; background:#fff; border:1px #EAEAEA solid; padding:.6em .5em; opacity:0; filter:alpha(opacity=0); box-shadow:-2px 2px 12px rgba(0,0,0,.1); -o-transition:top 200ms; -moz-transition:top 200ms; -webkit-transition:top 200ms; transition:top 200ms; box-sizing:content-box; }
.toolbar .toolbar-develop:before{content:""; position: absolute; border:10px transparent solid; border-left:10px #666 solid; right:-20px; top:9px;}
.toolbar .toolbar-develop:after{content:""; position: absolute; border:10px transparent solid; border-left:10px #fff solid; right:-20px; top:9px;}
.toolbar .toolbar-develop.show{top:0; opacity:1; filter:alpha(opacity=100);}

/*=======tabbable=======*/
.tabbable .nav-tabs{ border-color:#C5D0DC; position: relative;}
.tabbable .nav-tabs>li>a{padding:8px 12px; margin:0; border:1px #C5D0DC solid; background:#F2F2F2; color:#aaa;}
.tabbable .nav-tabs>li:not(:first-child)>a{margin-left:-1px;}
.tabbable .nav-tabs>li>a:hover{ background:#FFF; border-color:#C5D0DC; color:#aaa;}
.tabbable .nav-tabs>li.active>a,.tabbable .nav-tabs>li.active>a:hover{ border-color: #C5D0DC; border-top:2px #2E79B9 solid;  border-bottom-color:transparent; box-shadow:1px -2px 2px #ddd; background:#fff; color:#2E79B9; z-index: 66;margin-top:-1px; }
.tabbable .tab-content{ border:1px #C5D0DC solid; border-width:0 1px 1px; padding:16px 12px;overflow:auto; background:#fff;}

.tabs-below .nav-tabs{ border:none; border-top:1px #C5D0DC solid; }
.tabs-below .nav-tabs>li>a{ border-width:0 1px 1px;}
.tabs-below .nav-tabs>li.active>a,.tabs-below .nav-tabs>li.active>a:hover{ border-bottom:2px #2E79B9 solid;  border-top:1px transparent solid; box-shadow:1px 2px 2px #ddd;margin-bottom: 0;}
.tabs-below .tab-content{ border:1px #C5D0DC solid; border-width:1px 1px 0;  padding:16px 12px; }

.tabs-left .nav-tabs{ float:left; margin-right:-1px; border-right:1px #C5D0DC solid;}
.tabs-left .nav-tabs>li{float:none; margin-bottom:-1px;}
.tabs-left .nav-tabs>li>a{margin:0; border-width: 1px 0 1px 1px;} 
.tabs-left .nav-tabs>li.active>a,.tabs-left .nav-tabs>li.active>a:hover{ border:1px #C5D0DC solid; border-left:2px #2E79B9 solid; border-right:1px transparent solid; box-shadow:-2px 1px 2px #ddd; margin-top:0; margin-left:-1px; margin-right:-1px; }
.tabs-left .tab-content{ border-width:1px; }

.tabs-inner .nav-tabs{ background:#EFF3F8; border:1px #C5D0DC solid; padding:8px 12px 0;}
.tabs-inner .nav-tabs>li{ margin-right:3px;}
.tabs-inner .nav-tabs>li>a{ background:#7DB4D8; color:#fff; }

.nav-tabs .dropdown-menu{ left:-1px; z-index: 65;}

/*=======table=======*/
.table-bordered tr>th{
	-webkit-box-shadow: 0 1px rgba(0,0,0,.09);
	-moz-box-shadow: 0 1px rgba(0,0,0,.09);
	box-shadow: 0 1px rgba(0,0,0,.09);
	border: solid 1px #fff;
	background-image: -webkit-linear-gradient(bottom, #E6E6E6,#F9F9F9 80%);
	background-image: -moz-linear-gradient(bottom, #E6E6E6,#F9F9F9 80%);
	background-image: -o-linear-gradient(bottom, #E6E6E6,#F9F9F9 80%);
	background-image: -ms-linear-gradient(bottom, #E6E6E6,#F9F9F9 80%);
	background-image: linear-gradient(to top, #E6E6E6,#F9F9F9 80%);
}
.table-bordered tr>td:last-child{ text-align:right;}
.table-header{ background:#428BCA; color:#fff; line-height: 3; margin:0 0 1px; padding-left:20px;}
.dataTables_wrapper{background:#EFF3F8; color:#5A6267; border:1px #DEDEDE solid; border-width:1px 0;}
.dataTables_wrapper>.row:first-child,.dataTables_wrapper>.row:last-child{ padding:10px 0;}
.dataTables_length,.dataTables_filter,.dataTables_info,.dataTables_paginate{ padding:0 15px;}
.dataTables_filter{text-align:right;}
.dataTables_info{color:#646464;}
.dataTables_paginate{ text-align:right;}
.dataTables_paginate .pagination{ margin:0;}
.dataTables_wrapper>.table{background:#fff; margin:0;}
.dataTables_wrapper>.table>thead>tr>th[aria-sort]{
	background:#EFF3F8;
	box-shadow:inset 0 -10px 20px #DEE5F7 
}
.dataTables_wrapper>.table>thead>tr>th[class*="sorting"]:not([class*="sorting_disabled"]){position: relative; min-height:20px;}
.dataTables_wrapper>.table>thead>tr>th[class*="sorting"]:not([class*="sorting_disabled"]):after{
	font-family:"icomoon";
	content:"\e16d";
	position: absolute;
	right:5px;
	top:10px;
	font-weight:100;
}
.dataTables_wrapper>.table>thead>tr>th.sorting_asc:after{content:"\e11d"!important;color:#428BCA}
.dataTables_wrapper>.table>thead>tr>th.sorting_desc:after{content:"\e121"!important;color:#428BCA}

/*=======widget boxes=======*/
.widget-box{}
.widget-header{ border:1px #CCC solid; border-bottom-color:#E7E7E7; background:#F2F2F2; color:#55A5E8; min-height:38px;}
.widget-header>:first-child{ margin:0 0 0 10px; line-height: 36px; display:inline;}
.widget-header small{ color:#999;}
.widget-body{border-width:0 1px 1px; border-color:#CCC; border-style:solid;}
.widget-main{padding:10px 12px;}
.widget-toolbar{ display:inline-block; float:right; position: relative; min-height:37px; line-height:37px; padding:0 10px; }
.widget-toolbar:before{ content:""; border-left:1px #d9d9d9 solid; border-right:1px #fff solid; position: absolute; top:3px; bottom:3px; left:-1px;}
.widget-toolbar label{ display:inline-block; vertical-align:middle; margin-bottom:0; line-height:20px;}
.widget-toolbar .nav-tabs{ display:inline-block; vertical-align:middle; border:none; margin: 0 5px; padding:0;}
.widget-toolbar .nav-tabs.nav-tabs-tag>li{ list-style: none;  border:none;}
.widget-toolbar .nav-tabs.nav-tabs-tag>li>a{ zoom:1; padding:4px 9px; background:#FFB26A; border:none; color:#fff; margin:0 1px;}
.widget-toolbar .nav-tabs.nav-tabs-tag>li>a:hover{ text-decoration:none; padding-top:8px;}
.widget-toolbar .nav-tabs.nav-tabs-tag>li.active>a,
.widget-toolbar .nav-tabs.nav-tabs-tag>li.active>a:hover,
.widget-toolbar .nav-tabs.nav-tabs-tag>li.active>a:focus{ background:#E78B39; padding-top:8px; border:none;}

.widget-box.primary .widget-header{ background:#428BCA;color:#fff;border-color:#428BCA;}
.widget-box.primary .widget-body{ border-color:#428BCA;}
.widget-box.success .widget-header{ background:#5CB85C;color:#fff;border-color:#5CB85C;}
.widget-box.success .widget-body{border-color:#5CB85C;}
.widget-box.danger .widget-header{ background:#D9534F;color:#fff; border-color:#D9534F}
.widget-box.danger .widget-body{border-color:#D9534F}
.widget-box.warning .widget-header{ background:#F0AD4E;color:#fff;border-color:#F0AD4E}
.widget-box.warning .widget-body{border-color:#F0AD4E}
.widget-box.info .widget-header{ background:#39B3D7;color:#fff;border-color:#39B3D7}
.widget-box.info .widget-body{border-color:#39B3D7}
.widget-box.inverse .widget-header{ background:#333;color:#fff;border-color:#333}
.widget-box.inverse .widget-body{border-color:#333}
.widget-box.violet .widget-header{ background:#8362BC;color:#fff;border-color:#8362BC}
.widget-box.violet .widget-body{border-color:#8362BC}
.widget-box.pink .widget-header{ background:#D855A0;color:#fff;border-color:#D855A0}
.widget-box.pink .widget-body{border-color:#D855A0}
.widget-box.yellow .widget-header{ background:#FEE087;color:#fff; border-color:#FEE087}
.widget-box.yellow .widget-body{border-color:#FEE087}

.widget-box-1 .widget-body{ border:none; padding:10px 0;}
.widget-box-1 .widget-header{ border:none; border-bottom:1px #ddd solid; background:#fff!important;}
.widget-box-1 .widget-toolbar:before{border:none;}
.widget-box-1.primary .widget-header{ color:#428BCA; border-color:#428BCA;}
.widget-box-1.success .widget-header{ color:#5cb85c; border-color:#5CB85C;}
.widget-box-1.warning .widget-header{ color:#F0AD4E; border-color:#F0AD4E;}
.widget-box-1.danger .widget-header{ color:#D9534F; border-color:#D9534F;}
.widget-box-1.info .widget-header{ color:#39B3D7; border-color:#39B3D7;}
.widget-box-1.violet .widget-header{ color:#8362BC; border-color:#8362BC;}

.widget-box-3 .widget-header{
	border-bottom-color:#DDDDDD;
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	background-image: linear-gradient(to bottom,#fff,#eee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
}
.widget-box-3.primary .widget-header{
	border-color:#6AA4D5;
	border-bottom-color:#428BCA;
	background-image: -moz-linear-gradient(top,#B5D2EA,#428BCA);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#B5D2EA),to(#428BCA));
	background-image: -webkit-linear-gradient(top,#B5D2EA,#428BCA);
	background-image: -o-linear-gradient(top,#B5D2EA,#428BCA);
	background-image: linear-gradient(to bottom,#B5D2EA,#428BCA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
	color:#fff;
}
.widget-box-3.primary .widget-body{ border-color:#6AA4D5;}
.widget-box-3.success .widget-header{
	
}
.widget-box-3.warning .widget-header{
	
}
.widget-box-3.danger .widget-header{
	
}
.widget-box-3.info .widget-header{
	
}
.widget-box-3.inverse .widget-header{
	
}
.widget-box-3.violet .widget-header{
	
}

/*=======accordion=======*/
.accordion{ margin-bottom:2px;}
.accordion-header>:first-child{ display:block; background:#EFF3F8; border:1px #C5D0DC solid; padding:10px 25px 10px 15px; cursor: pointer; font-weight:700;}
.accordion-header>:first-child:after{ font-family:"icomoon"; content:"\e1c8"; position: absolute; right:22px;}
.accordion-header>:first-child:hover{ text-decoration:none; background:#7DB4D8; color:#fff; }
.accordion-header>.collapsed{ font-weight:100;}
.accordion-header>.collapsed:after{ font-weight:100; content:"\e1ce";}
.accordion-body{ padding:10px 12px; border-width:0 1px 1px; border-color:#C5D0DC; border-style:solid;}

.accordion-left .accordion-header>:first-child{ padding:10px 15px 10px 25px; background:#EFF3F8; color:#2a6496; border-color:#ddd;}
.accordion-left .accordion-header>:first-child:after{left:22px; right:auto; }
.accordion-left .accordion-header>:first-child:hover{ background:#EFF3F8; }
.accordion-left .accordion-header>.collapsed{ background:#fff;}
.accordion-left .accordion-header>.collapsed:after{content:"\e1c9";}

/*=======progess bar=======*/
.progress[data-percent]:after{ content:attr(data-percent); position: absolute; left:50%; right:50%; color:#fff; text-shadow:-1px -1px 0 #999;}
.progress-bar-violet{ background-color:#8362BC; }
.progress-bar-pink{ background-color:#E593D1; }
.progress-small{ height:10px;}
.progress-small .progress-bar{ background-size: 20px 20px;}
.progress-mini{ height:4px;}
.progress-mini .progress-bar{ background-size: 8px 8px;}

/*=======tooltips=======*/
.tooltip-info+.tooltip>.tooltip-inner{ background:#5BC0DE;}
.tooltip-info+.tooltip.top>.tooltip-arrow{ border-top-color:#5BC0DE;}
.tooltip-info+.tooltip.left>.tooltip-arrow{ border-left-color:#5BC0DE;}
.tooltip-info+.tooltip.right>.tooltip-arrow{ border-right-color:#5BC0DE;}
.tooltip-info+.tooltip.bottom>.tooltip-arrow{ border-bottom-color:#5BC0DE;}
.tooltip-warning+.tooltip>.tooltip-inner{ background:#ED9C28;}
.tooltip-warning+.tooltip.top>.tooltip-arrow{ border-top-color:#ED9C28;}
.tooltip-warning+.tooltip.left>.tooltip-arrow{ border-left-color:#ED9C28;}
.tooltip-warning+.tooltip.right>.tooltip-arrow{ border-right-color:#ED9C28;}
.tooltip-warning+.tooltip.bottom>.tooltip-arrow{ border-bottom-color:#ED9C28;}
.tooltip-danger+.tooltip>.tooltip-inner{ background:#D9534F;}
.tooltip-danger+.tooltip.top>.tooltip-arrow{ border-top-color:#D9534F;}
.tooltip-danger+.tooltip.left>.tooltip-arrow{ border-left-color:#D9534F;}
.tooltip-danger+.tooltip.right>.tooltip-arrow{ border-right-color:#D9534F;}
.tooltip-danger+.tooltip.bottom>.tooltip-arrow{ border-bottom-color:#D9534F;}
.tooltip-success+.tooltip>.tooltip-inner{ background:#5CB85C;}
.tooltip-success+.tooltip.top>.tooltip-arrow{ border-top-color:#5CB85C;}
.tooltip-success+.tooltip.left>.tooltip-arrow{ border-left-color:#5CB85C;}
.tooltip-success+.tooltip.right>.tooltip-arrow{ border-right-color:#5CB85C;}
.tooltip-success+.tooltip.bottom>.tooltip-arrow{ border-bottom-color:#5CB85C;}

/*=======popover=======*/
.popover-title{ border-radius:0; font-family: "icomoon";}
.popover-primary+.popover>.popover-title{ background:#EFF3F8; border-color:#DBE3F2; color:#428BCA;}
.popover-info+.popover>.popover-title{ background:#D8F2F7; border-color:#C6EDF5; color:#39B3D7;}
.popover-warning+.popover>.popover-title{ background:#FFF2DB;border-color:#FFE3B7; color:#ED8B2C;}
.popover-danger+.popover>.popover-title{ background:#FFBFBC; border-color:#FFAFAA; color:#D2322D;}
.popover-success+.popover>.popover-title{ background:#EAFFEA; border-color:#E0FFE0; color:#5CB85C;}

/*=======alert=======*/
.alert{ position: relative;}
.alert:before{font-family:"icomoon";position: absolute; text-shadow:1px 1px 0 #f2f2f2; font-size:11px; line-height:18px;}
.alert-danger{padding-left:25px;}
.alert-danger:before{  content:"\e0fa"; left:8px;}
.alert-success{padding-left:25px;}
.alert-success:before{content:"\e0fe"; left:8px;}
.alert-sm{ font-size:11px; padding: 4px 10px 4px 25px;}
.alert-xs{ font-size:9px; padding: 4px 10px 4px 25px;}
.alert-sm:before{top:2px;}
.alert-xs:before{top:0;}

/*=======bootbox=======*/
.bootbox{ width:90%; top:10%;right:auto; bottom:auto; left:5%; background:#fff;}
.bootbox>.modal-header>h4{ margin:0;}
.bootbox>.modal-body .input-block-level{ width:100%;}
.bootbox>.modal-footer{ background:#EFF3F8;}
.bootbox .ico{ font-family:"icomoon"; font-style:normal; font-weight:100;}
@media screen and (min-width:768px){
	.bootbox{ width:600px; left:50%; margin-left:-300px;}
}

/*=======dropdown menu style=======*/
.dropdown-preview{display:inline-block;}
.dropdown-preview>.dropdown-menu{ display: block; position:static; float:none;}
.dropdown-preview>.dropdown-menu>li.dropdown-submenu{ position: relative;}
.dropdown-preview>.dropdown-menu>li.dropdown-submenu>a:after{ content:""; position:absolute; top:6px; right:6px; border:6px transparent solid; border-left:6px #ccc solid;}
.dropdown-preview>.dropdown-menu>li.dropdown-submenu>.dropdown-menu{ left:99%; top:0; margin:0; }
.dropdown-preview>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:before{border:7px transparent solid; border-right:8px #D8D8D8 solid; left:-15px; top:7px;}
.dropdown-preview>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:after{border:7px transparent solid; border-right:7px #fff solid; left:-14px; top:7px;}
.dropdown-preview.dropup>.dropdown-menu>li.dropdown-submenu>.dropdown-menu{ top:auto; bottom:0;}
.dropdown-preview.dropup>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:before{ top:auto; bottom:7px;}
.dropdown-preview.dropup>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:after{ top:auto; bottom:7px;}
.dropdown-preview.dropup.left>.dropdown-menu>li.dropdown-submenu>.dropdown-menu{ left:-100%; margin-left:30px;}
.dropdown-preview.dropup.left>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:before{border:7px transparent solid;border-left:8px #D8D8D8 solid; left:auto; right:-15px;}
.dropdown-preview.dropup.left>.dropdown-menu>li.dropdown-submenu>.dropdown-menu:after{border:7px transparent solid;border-left:8px #FFF solid;left:auto; right:-14px;}
.dropdown-preview>.dropdown-menu>li.dropdown-submenu:hover>.dropdown-menu{ display:block;}

.dropdown-default{}
.dropdown-info{}
.dropdown-warning{}
.dropdown-danger{}
.dropdown-success{}
.dropdown-violet{}
.dropdown-pink{}
.dropdown-inverse{}
.dropdown-light{}

/*=======scrollspy=======*/
.nav-scrollspy{background:#EFF3F8; border-bottom:1px #7DB4D8 solid;}
.nav-scrollspy>.navbar-nav{ float:none; display:inline-block; vertical-align:bottom;}
.nav-scrollspy>.navbar-nav>li>a{ padding:8px 20px; color:#2E79B9;}
.nav-scrollspy>.navbar-nav>li.dropdown>a{position: relative;}
.nav-scrollspy>.navbar-nav>li.dropdown>a:after{ content:""; position: absolute; top:16px; right:5px; border:4px transparent solid; border-top:4px solid #ccc;}
.nav-scrollspy>.navbar-nav>li.active>a{background:#7DB4D8; color:#fff;}
.nav-scrollspy>.navbar-nav>li.dropdown.active>a:after{ border-top-color:#fff;}
.nav-scrollspy.dark{ background:#428BCA; border-color:#357EBD;}
.nav-scrollspy.dark>.navbar-nav>li>a{color:#fff;margin:1px 1px 0; padding:7px 19px 8px;}
.nav-scrollspy.dark>.navbar-nav>li.active>a{background:#fff; color:#357EBD;}
.nav-scrollspy.dark>.navbar-nav>li.dropdown.active>a:after{ border-top-color:#428BCA;}

/*=======badges=======*/
.badge{ font-size:65%; padding:3px 5px; margin:0 2px;}
.badge-default{background:#ABBAC3;}
.badge-primary{ background:#428BCA;}
.badge-info{ background:#5BC0DE;}
.badge-success{ background:#87B87F;}
.badge-warning{ background:#C09853;}
.badge-danger{ background:#B94A48;}
.badge-danger{ background:#B94A48;}
.badge-violet{ background:#8362BC;}
.badge-pink{ background:#D855A0;}
.badge-gray{ background:#6F6F6F;}
.badge-inverse{ background:#333;}
.badge-yellow{ background:#FEE087; color:#996633;}
.badge-none{background:none; color:#FF7476;}
.badge-none:before{content:"* ";color:#FF7476;}
.badge-none:empty{display:block;}

/*=====buttons======*/
.btn:hover{ box-shadow: inset .3em .3em 0 rgba(255,255,255,.2),inset -.3em -.3em 0 rgba(255,255,255,.2); }
.btn-minier{ padding:1px 2px; font-size:10px;}

.btn-default{ background:#ABBAC3; color:#fff; border-color:transparent; text-shadow:-1px -1px 0 #888;}
.btn-inverse{ background: #333; color: #fff; box-shadow:inset 0 20px 22px rgba(255,255,255,.14)}
.btn-gray{ background:#6F6F6F; color:#fff; box-shadow:inset 0 20px 22px rgba(255,255,255,.14)}
.btn-violet{ background:#8362BC; color:#fff;}
.btn-pink{ background:#D855A0; color:#fff;}
.btn-light{ background:#f9f9f9; color:#555; border:1px #ddd solid; box-shadow:inset 2px 2px 6px #e2e2e2,inset -2px -2px 6px #e2e2e2;}
.btn-yellow{ background:#FEE087; color:#996633; border:1px #F5D87C solid; box-shadow:inset 1px 1px 2px #F5D87C,inset -1px -10px 10px #F5D87C;}
.btn-inverse:hover,.btn-gray:hover,.btn-violet:hover,.btn-pink:hover{ color:#fff;}
.btn-light:hover{color:#333;}
.btn-yellow:hover{color:#996633;}

.btn>[class^="ico-"]{ margin:0 3px;}

.btn-app{display:inline-block;font-size:20px; position: relative; min-width:90px; text-shadow:-1px -1px 1px rgba(0,0,0,.22)}
.btn-app>[class^="ico-"]{display:block;font-size:32px; line-height:1.4; margin:0!important;}
.btn-app.radius-4{border-radius:4px;}
.btn-app.radius-8{border-radius:8px;}
.btn-app-sm{ font-size:16px; min-width:80px;}
.btn-app-sm>[class^="ico-"]{font-size:28px;}
.btn-app-xs{ font-size:14px; min-width:66px;}
.btn-app-xs>[class^="ico-"]{font-size:20px;}
.btn-app .badge{position:absolute;top:-2px; right:-4px; border-radius: 0;text-shadow:none;}
.btn-app .badge-left{right:auto;left:-4px;}
.btn-app .badge-none:before{ font-size:20px;}

.btn-app.btn-light,.btn-app.btn-yellow{text-shadow:none;}
.btn-app:hover{ box-shadow:inset 0 -20px 40px rgba(0,0,0,.1); color:#fff;}
.btn-app.btn-light:hover{color:#333;}
.btn-app.btn-yellow:hover{color:#996633;}

.btn-group>.btn,.btn-group>.btn+.btn{margin:0 1px 0 0;}
.btn-group .btn-sm,.btn-group .btn-xs{line-height: 2.2}
.btn-group-vertical>.btn,.btn-group-vertical>.btn+.btn{ margin:0 0 1px 0;}

.btn.dropdown-toggle{padding-right:1.6em;}
.btn:empty.dropdown-toggle{ height:16px; width:16px; padding:0;}
.btn.dropdown-toggle:after{content:""; border:4px transparent solid; border-top:4px solid #fff; position:absolute; top:45%; right:3px;}
.btn-group.open .dropdown-toggle{ text-shadow:none;}
.btn-group>.btn.dropdown-toggle{ line-height: 1.5;}
.btn-group>.btn+.dropdown-toggle{ position:absolute; top:0; bottom:0; height:100%;}

.btn-warning+.dropdown-menu{}
.btn-danger+.dropdown-menu{}
.btn-info+.dropdown-menu{}
.btn-success+.dropdown-menu{}
.btn-violet+.dropdown-menu{}
.btn-pink+.dropdown-menu{}
.btn-inverse+.dropdown-menu{}
.btn-yellow+.dropdown-menu>li>a:hover{ background:#F5D87C;}

/*=====action buttons=======*/
.action-buttons a,.action-buttons button{
	display:inline-block;
	-webkit-transition: all 100ms;
	-moz-transition:all 100ms;
	transition: all 100ms;
	margin:0 1px;
}
.action-buttons a:hover,.action-buttons button:hover{
	text-decoration:none;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/*=====icons======*/
.icon-base{font-size:16px;}
.icon-2x{ font-size:2em; }
.icon-3x{ font-size:3em; }
.icon-4x{ font-size:4em; }
.icon-sm{ font-size:.7em; }

/*=====label======*/
.label{ position: relative; font-size:11px; border-radius:0; padding:3px 8px 4px;}
.label-default{ background:#ABBAC3;}
.label-inverse{ background:#333;}
.label-gray{background:#6F6F6F;}
.label-violet{ background:#8362BC;}
.label-pink{ background:#D855A0;}
.label-yellow{ background:#FEE087; color:#996633;}
.label-light{ background:#E7E7E7; color:#666;}

.label[class*="arrowed"]:before,.label[class*="arrowed"]:after{content:""; position: absolute; top:0; border:10px transparent solid; border-width:10px 8px 11px; }
.label.arrowed{ margin-left:10px;}
.label.arrowed:before{ left:-18px; border-right:10px #ABBAC3 solid;}
.label.label-primary.arrowed:before{ border-right-color:#428BCA;}
.label.label-info.arrowed:before{ border-right-color:#5BC0DE;}
.label.label-success.arrowed:before{ border-right-color:#5CB85C;}
.label.label-warning.arrowed:before{ border-right-color:#F0AD4E;}
.label.label-danger.arrowed:before{ border-right-color:#D9534F;}
.label.label-inverse.arrowed:before{ border-right-color:#333;}
.label.label-gray.arrowed:before{ border-right-color:#6F6F6F;}
.label.label-violet.arrowed:before{ border-right-color:#8362BC;}
.label.label-pink.arrowed:before{ border-right-color:#D855A0;}
.label.label-yellow.arrowed:before{ border-right-color:#FEE087;}
.label.label-light.arrowed:before{ border-right-color:#E7E7E7;}

.label.arrowed-right{ margin-right:10px;}
.label.arrowed-right:after{ right:-18px; border-left:10px #ABBAC3 solid;}
.label.label-primary.arrowed-right:after{ border-left-color:#428BCA;}
.label.label-info.arrowed-right:after{ border-left-color:#5BC0DE;}
.label.label-success.arrowed-right:after{ border-left-color:#5CB85C;}
.label.label-warning.arrowed-right:after{ border-left-color:#F0AD4E;}
.label.label-danger.arrowed-right:after{ border-left-color:#D9534F;}
.label.label-inverse.arrowed-right:after{ border-left-color:#333;}
.label.label-gray.arrowed-right:after{ border-left-color:#6F6F6F;}
.label.label-violet.arrowed-right:after{ border-left-color:#8362BC;}
.label.label-pink.arrowed-right:after{ border-left-color:#D855A0;}
.label.label-yellow.arrowed-right:after{ border-left-color:#FEE087;}
.label.label-light.arrowed-right:after{ border-left-color:#E7E7E7;}

.label.arrowed-in{padding-left:17px;}
.label.arrowed-in:before{ border-left:10px #fff solid; left:0;}
.label.arrowed-in-right{padding-right:17px;}
.label.arrowed-in-right:after{ border-right:10px #fff solid; right:0;}

.label-large{ font-size:13px; padding:4px 10px; }
.label-large[class*="arrowed"]:before,.label-large[class*="arrowed"]:after{border:12px transparent solid; }
.label-large.arrowed{ margin-left:11px;}
.label-large.arrowed:before{ left:-23px;   border-right:11px #ABBAC3 solid;}
.label-large.arrowed-right{ margin-right:11px;}
.label-large.arrowed-right:after{ right:-23px; border-left:11px #ABBAC3 solid;}
.label-large.arrowed-in{padding-left:19px;}
.label-large.arrowed-in:before{ border-left:11px #fff solid; left:0;}
.label-large.arrowed-in-right{padding-right:19px;}
.label-large.arrowed-in-right:after{ border-right:11px #fff solid; right:0;}

/*=====custom checkbox&radio=====*/
.lbl:before,.lbl:after{font-family:"icomoon"; display:inline-block; vertical-align: middle;}
input[type=checkbox].cb,input[type=radio].cb{ display:inline-block; position:absolute; z-index:12; opacity:0;}
input[type=checkbox].cb+.lbl,input[type=radio].cb+.lbl{ display:inline-block; position: relative; min-width:14px; min-height:14px; line-height:17px; z-index:11; vertical-align: middle;margin:0 2px; }
input[type=checkbox].cb+.lbl:before,input[type=radio].cb+.lbl:before{content:"\e0fe";padding:2px 3px;line-height:12px;background:#fff;color:#eee;border:1px #AECFEC solid;font-size:10px;}
input[type=checkbox].cb:checked+.lbl:before,input[type=radio].cb:checked+.lbl:before{ color:#55A5E8; }
input[type=checkbox].cb.cb-switch,input[type=radio].cb.cb-switch{ min-height:20px;min-width:56px;}
input[type=checkbox].cb.cb-switch+.lbl,input[type=radio].cb.cb-switch+.lbl{ min-height:17px;min-width:53px;line-height:17px;}
input[type=checkbox].cb.cb-switch.cb-switch-1+.lbl,
input[type=checkbox].cb.cb-switch.cb-switch-2+.lbl,
input[type=radio].cb.cb-switch.cb-switch-1+.lbl,
input[type=radio].cb.cb-switch.cb-switch-2+.lbl{background:#f9f9f9;border:1px #ddd solid;border-radius:50px; }
input[type=checkbox].cb.cb-switch.cb-switch-1+.lbl:before,
input[type=checkbox].cb.cb-switch.cb-switch-2+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-1+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-2+.lbl:before{
	background:none;
	border:none;
	padding:0;
	position:absolute;
	top:0px;
	left:28px;
	z-index:10;
	content:"\e1cf";
	font-size:25px;
	color:#C9E2ED;
	text-shadow:0 2px 0 #BCD6E0;
	transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	-moz-transition: left 400ms ease;
	-o-transition: left 400ms ease;
}
input[type=checkbox].cb.cb-switch.cb-switch-1+.lbl:after,
input[type=checkbox].cb.cb-switch.cb-switch-2+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-1+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-2+.lbl:after{
	content:"OFF"; 
	font-family:Arial, sans-serif; 
	font-size:11px; 
	color:#ccc;
	text-shadow:1px 1px 0 #FFF; 
	position:absolute; 
	top:-1px; 
	left:4px;
}
input[type=checkbox].cb.cb-switch.cb-switch-1:checked+.lbl:before,
input[type=checkbox].cb.cb-switch.cb-switch-2:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-1:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-2:checked+.lbl:before{ 
	left:-4px;
}
input[type=checkbox].cb.cb-switch.cb-switch-1:checked+.lbl:after,
input[type=checkbox].cb.cb-switch.cb-switch-2:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-1:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-2:checked+.lbl:after{
	content:"ON";
	left:26px;
	color:#A2C6D6;
}

input[type=checkbox].cb.cb-switch.cb-switch-2+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-2+.lbl:after{ content:"ON";color:#A2C6D6; }
input[type=checkbox].cb.cb-switch.cb-switch-2:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-2:checked+.lbl:after{ content:"OFF"; color:#ccc;}

input[type=checkbox].cb.cb-switch.cb-switch-3+.lbl,
input[type=radio].cb.cb-switch.cb-switch-3+.lbl{
	height: 24px;
	background:#fff;
	border:1px #8BB9DE solid;	
}
input[type=checkbox].cb.cb-switch.cb-switch-3+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-3+.lbl:before{ 
	content:"\e0fe";
	position:absolute;
	top:2px;
	left:30px;
	background:#507EA7;
	color:#fff; 
	border:1px #507EA7 solid;
	text-shadow:1px -1px 0 #555;
}
input[type=checkbox].cb.cb-switch.cb-switch-3+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-3+.lbl:after{
	content:"Yes";
	font-family:Arial, sans-serif; 
	font-size:12px;
	color:#507EA7;
	position: absolute;
	top:3px;
	left:3px;
}
input[type=checkbox].cb.cb-switch.cb-switch-3:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-3:checked+.lbl:before{
	content:"\e0fd";
	background:#ccc;
	border-color:#bbb;
	text-shadow:-1px -1px 0 #aaa;
	left:2px;
}
input[type=checkbox].cb.cb-switch.cb-switch-3:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-3:checked+.lbl:after{
	content:"No";
	left:32px;
	color:#CCC;
}

input[type=checkbox].cb.cb-switch.cb-switch-5+.lbl,
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl,
input[type=radio].cb.cb-switch.cb-switch-5+.lbl,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl{
	height:24px;
	width:56px;
	background:#FD6633;
	border-radius:50px;
	box-shadow:inset 1px 1px 2px rgba(0,0,0,.3);
	transition: background 400ms ease;
	-webkit-transition: background 400ms ease;
	-moz-transition: background 400ms ease;
	-o-transition: background 400ms ease;
}
input[type=checkbox].cb.cb-switch.cb-switch-5+.lbl:before,
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-5+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl:before{
	font-family:Arial, sans-serif; 
	content:"|||";
	border:none;
	padding:0;
	position: absolute;
	top:2px;
	left:34px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	border-radius:50px;
	font-size:9px;
	color:#ccc;
	text-shadow:0 1px 0 #ccc;
	transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	-moz-transition: left 400ms ease;
	-o-transition: left 400ms ease;
}
input[type=checkbox].cb.cb-switch.cb-switch-5+.lbl:after,
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-5+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl:after{
	content:"\e0fe";
	text-indent:6px;
	line-height:24px;
	color:#fff;
	text-shadow:0 -1px #666;
}
input[type=checkbox].cb.cb-switch.cb-switch-5:checked+.lbl,
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl,
input[type=radio].cb.cb-switch.cb-switch-5:checked+.lbl,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl{
	background:#ccc;
}
input[type=checkbox].cb.cb-switch.cb-switch-5:checked+.lbl:before,
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-5:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl:before{
	left:2px;
}
input[type=checkbox].cb.cb-switch.cb-switch-5:checked+.lbl:after,
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-5:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl:after{
	content:"\e0fd";
	text-indent:36px;
	font-size:12px;
}
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl{ background:#ccc; }
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl:before{ left:2px;}
input[type=checkbox].cb.cb-switch.cb-switch-6+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-6+.lbl:after{ content:"\e0fd";text-indent:36px;font-size:12px;}
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl{ background:#FD6633}
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl:before,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl:before{ left:34px;}
input[type=checkbox].cb.cb-switch.cb-switch-6:checked+.lbl:after,
input[type=radio].cb.cb-switch.cb-switch-6:checked+.lbl:after{ content:"\e0fe";font-size:14px; text-indent:6px;}

/*======modal======*/
.modal-header{ background:#428BCA; color:#fff;}
.modal-footer{ background:#F0F5FF;}
.modal-table>.modal-body{padding:0;}
.modal-table>.modal-body>.table{margin:0;}
.modal-table>.modal-footer{margin:0;}
.modal-table>.modal-footer .pagination{margin:0;}

/*======form elements======*/
.input-min{ font-size:11px; height:24px; line-height:1.2}
.input-group-addon{border-color:#e5e5e5;}

.tags{ display:inline-block; background:#fff; border:1px #E5E5E5 solid; padding:5px; }
.tags-hover{ border-color:#7DB4D8;}
.tags .tag{ display:inline-block; padding:2px 5px; margin:0 5px 5px 0; background:#7DB4D8; color:#fff;}
.tags .tag>.close{ margin-left:5px;}
.tags input[type="text"],.tags input[type="text"]:focus{ display:inline; width:100%;}

/*======infoboxes======*/
.infoboxes{display:inline-block;}
.infoboxes,.infoboxes>li{ margin:0; padding:0;}
.infoboxes:before,.infoboxes:after{content:""; display:table; clear:both;}
.infoboxes>li{ list-style:none; float:left; border:1px #ddd dotted; width:210px; height:69px; overflow:hidden; margin:-1px 0 0 -1px;}
.infoboxes>li>dl{ margin:10px;}
.infoboxes>li>dl>dt{float:left;margin-right:8px;}
.infoboxes>li>dl>dt>.infobox-icon{ display:inline-block; width:43px; height:42px; line-height:36px; background:#eee; text-align:center; border-radius:100%; box-shadow:inset 0 -4px 0 rgba(0,0,0,.06),inset 0 2px 0 rgba(0,0,0,.06),inset -2px 0 0 rgba(0,0,0,.06),inset 2px 0 0 rgba(0,0,0,.06),1px 1px 3px rgba(0,0,0,.2); text-shadow:1px 1px 2px rgba(0,0,0,.1);}
.infoboxes>li>dl>dt>.infobox-icon>[class*="ico-"]{ font-size:20px; color:#fff;}
.infoboxes>li>dl>dd{ position:relative; text-align:left;}
.infoboxes>li>dl>.infobox-dataNumber>em{ font-size:22px; text-shadow:1px 1px 3px rgba(0,0,0,.2);}
.infoboxes>li>dl>dd>.infobox-pro{ position: absolute; right:0; top:0; font-size:12px;}

.infoboxes>li.infobox-green>dl>dt>.infobox-icon{ background:#ADC85A;}
.infoboxes>li.infobox-green>dl>.infobox-dataNumber>em{ color:#7E9534;}
.infoboxes>li.infobox-blue>dl>dt>.infobox-icon{ background:#6FC9ED;}
.infoboxes>li.infobox-blue>dl>.infobox-dataNumber>em{ color:#48A5C9;}
.infoboxes>li.infobox-violet>dl>dt>.infobox-icon{ background:#BC8EDB;}
.infoboxes>li.infobox-violet>dl>.infobox-dataNumber>em{ color:#8B55B4;}
.infoboxes>li.infobox-pink>dl>dt>.infobox-icon{ background:#F08EB2;}
.infoboxes>li.infobox-pink>dl>.infobox-dataNumber>em{ color:#D1557E;}
.infoboxes>li.infobox-red>dl>dt>.infobox-icon{ background:#F0797C;}
.infoboxes>li.infobox-red>dl>.infobox-dataNumber>em{ color:#D65558;}
.infoboxes>li.infobox-orange>dl>dt>.infobox-icon{ background:#FCAF83;}
.infoboxes>li.infobox-orange>dl>.infobox-dataNumber>em{ color:#E8864D;}
.infoboxes>li.infobox-cyan>dl>dt>.infobox-icon{ background:#6C98DB;}
.infoboxes>li.infobox-cyan>dl>.infobox-dataNumber>em{ color:#4874BC;}

.infoboxes-sm>li{ width:135px; height:56px;}
.infoboxes-dark>li{ border:1px #fff solid;color:#fff;}
.infoboxes-dark>li.infobox-green{ background:#ADC85A;}
.infoboxes-dark>li.infobox-blue{ background:#6FC9ED;}
.infoboxes-dark>li.infobox-default{ background:#ABBAC3;}


/*======stats======*/
.stats{ display:inline-block; }
.stats.stats-up{ color:#5CB85C }
.stats.stats-up:after{ font-family:"icomoon"; content:"\e170"; font-size:130%;}
.stats.stats-down{ color:#D9534F }
.stats.stats-down:after{ font-family:"icomoon"; content:"\e174"; font-size:130%;}
.stats.stats-static{ color:#5BC0DE; }
.stats.stats-static:after{ font-family:"icomoon"; content:"\e101"; font-size:130%;}

.statsboxes>.statsbox>dl{ padding:10px; margin:10px 0; border-right:1px #ddd solid;}
.statsboxes>.statsbox>dl>.statsbox-tit *{vertical-align: bottom}
.statsboxes>.statsbox>dl>.statsbox-number{ float:right; margin-top:-15px; font-size:16px; font-weight:700;}



/*======others======*/
.nav-pills>li>a{padding:6px 12px;}
.list-group-item.active>i[class*="ico-"]{ color:#fff;}
.dl-horizontal>dt{ float:left;}
