@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-film, .ico-camera, .ico-dice, .ico-pacman, .ico-spades, .ico-clubs, .ico-diamonds, .ico-pawn, .ico-bullhorn, .ico-connection, .ico-podcast, .ico-feed, .ico-book, .ico-books, .ico-library, .ico-file, .ico-profile, .ico-file-2, .ico-file-3, .ico-file-4, .ico-copy, .ico-copy-2, .ico-copy-3, .ico-paste, .ico-paste-2, .ico-paste-3, .ico-stack, .ico-folder, .ico-folder-open, .ico-tag, .ico-tags, .ico-barcode, .ico-qrcode, .ico-ticket, .ico-cart, .ico-cart-2, .ico-cart-3, .ico-coin, .ico-credit, .ico-calculate, .ico-support, .ico-phone, .ico-phone-hang-up, .ico-address-book, .ico-notebook, .ico-envelop, .ico-pushpin, .ico-location, .ico-location-2, .ico-compass, .ico-map, .ico-history, .ico-clock, .ico-clock-2, .ico-alarm, .ico-alarm-2, .ico-bell, .ico-stopwatch, .ico-calendar, .ico-calendar-2, .ico-print, .ico-keyboard, .ico-screen, .ico-laptop, .ico-mobile, .ico-mobile-2, .ico-tablet, .ico-tv, .ico-cabinet, .ico-drawer, .ico-drawer-2, .ico-drawer-3, .ico-box-add, .ico-box-remove, .ico-download, .ico-upload, .ico-disk, .ico-storage, .ico-undo, .ico-redo, .ico-flip, .ico-flip-2, .ico-undo-2, .ico-redo-2, .ico-forward, .ico-reply, .ico-bubble, .ico-bubbles, .ico-bubbles-2, .ico-bubble-2, .ico-bubbles-3, .ico-bubbles-4, .ico-user, .ico-users, .ico-user-2, .ico-users-2, .ico-user-3, .ico-user-4, .ico-quotes-left, .ico-busy, .ico-spinner, .ico-spinner-2, .ico-spinner-3, .ico-spinner-4, .ico-spinner-5, .ico-spinner-6, .ico-binoculars, .ico-search, .ico-zoom-in, .ico-zoom-out, .ico-expand, .ico-contract, .ico-expand-2, .ico-contract-2, .ico-key, .ico-key-2, .ico-lock, .ico-lock-2, .ico-unlocked, .ico-wrench, .ico-settings, .ico-equalizer, .ico-cog, .ico-cogs, .ico-cog-2, .ico-hammer, .ico-wand, .ico-aid, .ico-bug, .ico-pie, .ico-stats, .ico-bars, .ico-bars-2, .ico-gift, .ico-trophy, .ico-glass, .ico-mug, .ico-food, .ico-leaf, .ico-rocket, .ico-meter, .ico-meter2, .ico-dashboard, .ico-hammer-2, .ico-fire, .ico-lab, .ico-magnet, .ico-remove, .ico-remove-2, .ico-briefcase, .ico-airplane, .ico-truck, .ico-road, .ico-accessibility, .ico-target, .ico-shield, .ico-lightning, .ico-switch, .ico-power-cord, .ico-signup, .ico-list, .ico-list-2, .ico-numbered-list, .ico-menu, .ico-menu-2, .ico-tree, .ico-cloud, .ico-cloud-download, .ico-cloud-upload, .ico-download-2, .ico-upload-2, .ico-download-3, .ico-upload-3, .ico-globe, .ico-earth, .ico-link, .ico-flag, .ico-attachment, .ico-eye, .ico-eye-blocked, .ico-eye-2, .ico-bookmark, .ico-bookmarks, .ico-brightness-medium, .ico-brightness-contrast, .ico-contrast, .ico-star, .ico-star-2, .ico-star-3, .ico-heart, .ico-heart-2, .ico-heart-broken, .ico-thumbs-up, .ico-thumbs-up-2, .ico-happy, .ico-happy-2, .ico-smiley, .ico-smiley-2, .ico-tongue, .ico-tongue-2, .ico-sad, .ico-sad-2, .ico-wink, .ico-wink-2, .ico-grin, .ico-grin-2, .ico-cool, .ico-cool-2, .ico-angry, .ico-angry-2, .ico-evil, .ico-evil-2, .ico-shocked, .ico-shocked-2, .ico-confused, .ico-confused-2, .ico-neutral, .ico-neutral-2, .ico-wondering, .ico-wondering-2, .ico-point-up, .ico-point-right, .ico-point-down, .ico-point-left, .ico-warning, .ico-notification, .ico-question, .ico-info, .ico-info-2, .ico-blocked, .ico-cancel-circle, .ico-checkmark-circle, .ico-spam, .ico-close, .ico-checkmark, .ico-checkmark-2, .ico-spell-check, .ico-minus, .ico-plus, .ico-enter, .ico-exit, .ico-play, .ico-pause, .ico-stop, .ico-backward, .ico-forward-2, .ico-play-2, .ico-pause-2, .ico-stop-2, .ico-forward-3, .ico-first, .ico-last, .ico-previous, .ico-next, .ico-eject, .ico-volume-high, .ico-volume-medium, .ico-volume-low, .ico-volume-mute, .ico-volume-mute-2, .ico-volume-increase, .ico-volume-decrease, .ico-arrow-left, .ico-arrow-up-left, .ico-arrow-up, .ico-arrow-up-right, .ico-arrow-right, .ico-arrow-down-right, .ico-arrow-down, .ico-arrow-down-left, .ico-arrow-left-2, .ico-arrow-up-left-2, .ico-radio-checked, .ico-radio-unchecked, .ico-crop, .ico-scissors, .ico-filter, .ico-filter-2, .ico-font, .ico-text-height, .ico-text-width, .ico-bold, .ico-paragraph-left, .ico-paragraph-center, .ico-paragraph-right, .ico-paragraph-justify, .ico-paragraph-left-2, .ico-paragraph-center-2, .ico-paragraph-right-2, .ico-paragraph-justify-2, .ico-indent-increase, .ico-indent-decrease, .ico-google-plus, .ico-google-plus-2, .ico-google-plus-3, .ico-google-drive, .ico-facebook, .ico-facebook-2, .ico-facebook-3, .ico-instagram, .ico-twitter, .ico-twitter-2, .ico-flickr, .ico-flickr-2, .ico-flickr-3, .ico-picassa, .ico-picassa-2, .ico-dribbble, .ico-dribbble-2, .ico-dribbble-3, .ico-forrst, .ico-forrst-2, .ico-joomla, .ico-blogger, .ico-blogger-2, .ico-tumblr, .ico-tumblr-2, .ico-yahoo, .ico-tux, .ico-apple, .ico-finder, .ico-android, .ico-stumbleupon, .ico-stackoverflow, .ico-pinterest, .ico-pinterest-2, .ico-xing, .ico-xing-2, .ico-flattr, .ico-foursquare, .ico-foursquare-2, .ico-paypal, .ico-file-css, .ico-html5, .ico-html5-2, .ico-css3, .ico-chrome, .ico-firefox, .ico-IE, .ico-opera, .ico-safari, .ico-IcoMoon, .ico-loop, .ico-loop-2, .ico-loop-3, .ico-shuffle, .ico-arrow-up-left-3, .ico-arrow-up-2, .ico-arrow-up-right-2, .ico-arrow-right-2, .ico-arrow-down-right-2, .ico-arrow-down-2, .ico-arrow-down-left-2, .ico-arrow-up-3, .ico-arrow-up-right-3, .ico-arrow-right-3, .ico-arrow-down-right-3, .ico-arrow-down-3, .ico-arrow-down-left-3, .ico-arrow-left-3, .ico-tab, .ico-checkbox-checked, .ico-checkbox-unchecked, .ico-checkbox-partial, .ico-underline, .ico-italic, .ico-strikethrough, .ico-omega, .ico-sigma, .ico-table, .ico-table-2, .ico-insert-template, .ico-pilcrow, .ico-left-to-right, .ico-right-to-left, .ico-new-tab, .ico-embed, .ico-code, .ico-console, .ico-share, .ico-mail, .ico-mail-2, .ico-mail-3, .ico-mail-4, .ico-google, .ico-google-plus-4, .ico-twitter-3, .ico-feed-2, .ico-feed-3, .ico-feed-4, .ico-youtube, .ico-youtube-2, .ico-vimeo, .ico-vimeo2, .ico-vimeo-2, .ico-lanyrd, .ico-flickr-4, .ico-deviantart, .ico-deviantart-2, .ico-steam, .ico-steam-2, .ico-github, .ico-github-2, .ico-github-3, .ico-github-4, .ico-github-5, .ico-wordpress, .ico-wordpress-2, .ico-windows, .ico-windows8, .ico-soundcloud, .ico-soundcloud-2, .ico-skype, .ico-reddit, .ico-linkedin, .ico-lastfm, .ico-lastfm-2, .ico-delicious, .ico-stumbleupon-2, .ico-paypal-2, .ico-paypal-3, .ico-yelp, .ico-libreoffice, .ico-file-pdf, .ico-file-openoffice, .ico-file-word, .ico-file-excel, .ico-file-zip, .ico-file-powerpoint, .ico-file-xml, .ico-home, .ico-home-2, .ico-home-3, .ico-office, .ico-newspaper, .ico-pencil, .ico-pencil-2, .ico-quill, .ico-pen, .ico-blog, .ico-droplet, .ico-paint-format, .ico-image, .ico-image-2, .ico-images, .ico-camera-2, .ico-music, .ico-headphones, .ico-play-3, .ico-backward-2, .ico-map-2, .ico-arrow-left-4, .ico-arrow-down-4, .ico-arrow-up-4, .ico-untitled, .ico-arrow-down-5, .ico-arrow-up-5, .ico-arrow-right-4, .ico-arrow-left-5, .ico-arrow-down-6, .ico-arrow-up-6, .ico-arrow-right-5, .ico-arrow-left-6, .ico-record {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
}
.ico-film:before {
	content: "\e028";
}
.ico-camera:before {
	content: "\e029";
}
.ico-dice:before {
	content: "\e000";
}
.ico-pacman:before {
	content: "\e001";
}
.ico-spades:before {
	content: "\e002";
}
.ico-clubs:before {
	content: "\e003";
}
.ico-diamonds:before {
	content: "\e004";
}
.ico-pawn:before {
	content: "\e005";
}
.ico-bullhorn:before {
	content: "\e006";
}
.ico-connection:before {
	content: "\e007";
}
.ico-podcast:before {
	content: "\e008";
}
.ico-feed:before {
	content: "\e009";
}
.ico-book:before {
	content: "\e00a";
}
.ico-books:before {
	content: "\e00b";
}
.ico-library:before {
	content: "\e00c";
}
.ico-file:before {
	content: "\e00d";
}
.ico-profile:before {
	content: "\e00e";
}
.ico-file-2:before {
	content: "\e00f";
}
.ico-file-3:before {
	content: "\e010";
}
.ico-file-4:before {
	content: "\e011";
}
.ico-copy:before {
	content: "\e012";
}
.ico-copy-2:before {
	content: "\e013";
}
.ico-copy-3:before {
	content: "\e014";
}
.ico-paste:before {
	content: "\e02a";
}
.ico-paste-2:before {
	content: "\e02b";
}
.ico-paste-3:before {
	content: "\e02c";
}
.ico-stack:before {
	content: "\e02d";
}
.ico-folder:before {
	content: "\e02e";
}
.ico-folder-open:before {
	content: "\e02f";
}
.ico-tag:before {
	content: "\e030";
}
.ico-tags:before {
	content: "\e031";
}
.ico-barcode:before {
	content: "\e032";
}
.ico-qrcode:before {
	content: "\e033";
}
.ico-ticket:before {
	content: "\e034";
}
.ico-cart:before {
	content: "\e035";
}
.ico-cart-2:before {
	content: "\e036";
}
.ico-cart-3:before {
	content: "\e037";
}
.ico-coin:before {
	content: "\e038";
}
.ico-credit:before {
	content: "\e039";
}
.ico-calculate:before {
	content: "\e03a";
}
.ico-support:before {
	content: "\e03b";
}
.ico-phone:before {
	content: "\e03c";
}
.ico-phone-hang-up:before {
	content: "\e03d";
}
.ico-address-book:before {
	content: "\e03e";
}
.ico-notebook:before {
	content: "\e03f";
}
.ico-envelop:before {
	content: "\e040";
}
.ico-pushpin:before {
	content: "\e041";
}
.ico-location:before {
	content: "\e042";
}
.ico-location-2:before {
	content: "\e043";
}
.ico-compass:before {
	content: "\e044";
}
.ico-map:before {
	content: "\e046";
}
.ico-history:before {
	content: "\e047";
}
.ico-clock:before {
	content: "\e048";
}
.ico-clock-2:before {
	content: "\e049";
}
.ico-alarm:before {
	content: "\e04a";
}
.ico-alarm-2:before {
	content: "\e04b";
}
.ico-bell:before {
	content: "\e04c";
}
.ico-stopwatch:before {
	content: "\e04d";
}
.ico-calendar:before {
	content: "\e04e";
}
.ico-calendar-2:before {
	content: "\e04f";
}
.ico-print:before {
	content: "\e050";
}
.ico-keyboard:before {
	content: "\e051";
}
.ico-screen:before {
	content: "\e052";
}
.ico-laptop:before {
	content: "\e053";
}
.ico-mobile:before {
	content: "\e054";
}
.ico-mobile-2:before {
	content: "\e055";
}
.ico-tablet:before {
	content: "\e056";
}
.ico-tv:before {
	content: "\e057";
}
.ico-cabinet:before {
	content: "\e058";
}
.ico-drawer:before {
	content: "\e059";
}
.ico-drawer-2:before {
	content: "\e05a";
}
.ico-drawer-3:before {
	content: "\e05b";
}
.ico-box-add:before {
	content: "\e05c";
}
.ico-box-remove:before {
	content: "\e05d";
}
.ico-download:before {
	content: "\e05e";
}
.ico-upload:before {
	content: "\e05f";
}
.ico-disk:before {
	content: "\e060";
}
.ico-storage:before {
	content: "\e061";
}
.ico-undo:before {
	content: "\e062";
}
.ico-redo:before {
	content: "\e063";
}
.ico-flip:before {
	content: "\e064";
}
.ico-flip-2:before {
	content: "\e065";
}
.ico-undo-2:before {
	content: "\e066";
}
.ico-redo-2:before {
	content: "\e067";
}
.ico-forward:before {
	content: "\e068";
}
.ico-reply:before {
	content: "\e069";
}
.ico-bubble:before {
	content: "\e06a";
}
.ico-bubbles:before {
	content: "\e06b";
}
.ico-bubbles-2:before {
	content: "\e06c";
}
.ico-bubble-2:before {
	content: "\e06d";
}
.ico-bubbles-3:before {
	content: "\e06e";
}
.ico-bubbles-4:before {
	content: "\e06f";
}
.ico-user:before {
	content: "\e070";
}
.ico-users:before {
	content: "\e071";
}
.ico-user-2:before {
	content: "\e072";
}
.ico-users-2:before {
	content: "\e073";
}
.ico-user-3:before {
	content: "\e074";
}
.ico-user-4:before {
	content: "\e075";
}
.ico-quotes-left:before {
	content: "\e076";
}
.ico-busy:before {
	content: "\e077";
}
.ico-spinner:before {
	content: "\e078";
}
.ico-spinner-2:before {
	content: "\e079";
}
.ico-spinner-3:before {
	content: "\e07a";
}
.ico-spinner-4:before {
	content: "\e07b";
}
.ico-spinner-5:before {
	content: "\e07c";
}
.ico-spinner-6:before {
	content: "\e07d";
}
.ico-binoculars:before {
	content: "\e07e";
}
.ico-search:before {
	content: "\e07f";
}
.ico-zoom-in:before {
	content: "\e080";
}
.ico-zoom-out:before {
	content: "\e081";
}
.ico-expand:before {
	content: "\e082";
}
.ico-contract:before {
	content: "\e083";
}
.ico-expand-2:before {
	content: "\e084";
}
.ico-contract-2:before {
	content: "\e085";
}
.ico-key:before {
	content: "\e086";
}
.ico-key-2:before {
	content: "\e087";
}
.ico-lock:before {
	content: "\e088";
}
.ico-lock-2:before {
	content: "\e089";
}
.ico-unlocked:before {
	content: "\e08a";
}
.ico-wrench:before {
	content: "\e08b";
}
.ico-settings:before {
	content: "\e08c";
}
.ico-equalizer:before {
	content: "\e08d";
}
.ico-cog:before {
	content: "\e08e";
}
.ico-cogs:before {
	content: "\e08f";
}
.ico-cog-2:before {
	content: "\e090";
}
.ico-hammer:before {
	content: "\e091";
}
.ico-wand:before {
	content: "\e092";
}
.ico-aid:before {
	content: "\e093";
}
.ico-bug:before {
	content: "\e094";
}
.ico-pie:before {
	content: "\e095";
}
.ico-stats:before {
	content: "\e096";
}
.ico-bars:before {
	content: "\e097";
}
.ico-bars-2:before {
	content: "\e098";
}
.ico-gift:before {
	content: "\e099";
}
.ico-trophy:before {
	content: "\e09a";
}
.ico-glass:before {
	content: "\e09b";
}
.ico-mug:before {
	content: "\e09c";
}
.ico-food:before {
	content: "\e09d";
}
.ico-leaf:before {
	content: "\e09e";
}
.ico-rocket:before {
	content: "\e09f";
}
.ico-meter:before {
	content: "\e0a0";
}
.ico-meter2:before {
	content: "\e0a1";
}
.ico-dashboard:before {
	content: "\e0a2";
}
.ico-hammer-2:before {
	content: "\e0a3";
}
.ico-fire:before {
	content: "\e0a4";
}
.ico-lab:before {
	content: "\e0a5";
}
.ico-magnet:before {
	content: "\e0a6";
}
.ico-remove:before {
	content: "\e0a7";
}
.ico-remove-2:before {
	content: "\e0a8";
}
.ico-briefcase:before {
	content: "\e0a9";
}
.ico-airplane:before {
	content: "\e0aa";
}
.ico-truck:before {
	content: "\e0ab";
}
.ico-road:before {
	content: "\e0ac";
}
.ico-accessibility:before {
	content: "\e0ad";
}
.ico-target:before {
	content: "\e0ae";
}
.ico-shield:before {
	content: "\e0af";
}
.ico-lightning:before {
	content: "\e0b0";
}
.ico-switch:before {
	content: "\e0b1";
}
.ico-power-cord:before {
	content: "\e0b2";
}
.ico-signup:before {
	content: "\e0b3";
}
.ico-list:before {
	content: "\e0b4";
}
.ico-list-2:before {
	content: "\e0b5";
}
.ico-numbered-list:before {
	content: "\e0b6";
}
.ico-menu:before {
	content: "\e0b7";
}
.ico-menu-2:before {
	content: "\e0b8";
}
.ico-tree:before {
	content: "\e0b9";
}
.ico-cloud:before {
	content: "\e0ba";
}
.ico-cloud-download:before {
	content: "\e0bb";
}
.ico-cloud-upload:before {
	content: "\e0bc";
}
.ico-download-2:before {
	content: "\e0bd";
}
.ico-upload-2:before {
	content: "\e0be";
}
.ico-download-3:before {
	content: "\e0bf";
}
.ico-upload-3:before {
	content: "\e0c0";
}
.ico-globe:before {
	content: "\e0c1";
}
.ico-earth:before {
	content: "\e0c2";
}
.ico-link:before {
	content: "\e0c3";
}
.ico-flag:before {
	content: "\e0c4";
}
.ico-attachment:before {
	content: "\e0c5";
}
.ico-eye:before {
	content: "\e0c6";
}
.ico-eye-blocked:before {
	content: "\e0c7";
}
.ico-eye-2:before {
	content: "\e0c8";
}
.ico-bookmark:before {
	content: "\e0c9";
}
.ico-bookmarks:before {
	content: "\e0ca";
}
.ico-brightness-medium:before {
	content: "\e0cb";
}
.ico-brightness-contrast:before {
	content: "\e0cc";
}
.ico-contrast:before {
	content: "\e0cd";
}
.ico-star:before {
	content: "\e0ce";
}
.ico-star-2:before {
	content: "\e0cf";
}
.ico-star-3:before {
	content: "\e0d0";
}
.ico-heart:before {
	content: "\e0d1";
}
.ico-heart-2:before {
	content: "\e0d2";
}
.ico-heart-broken:before {
	content: "\e0d3";
}
.ico-thumbs-up:before {
	content: "\e0d4";
}
.ico-thumbs-up-2:before {
	content: "\e0d5";
}
.ico-happy:before {
	content: "\e0d6";
}
.ico-happy-2:before {
	content: "\e0d7";
}
.ico-smiley:before {
	content: "\e0d8";
}
.ico-smiley-2:before {
	content: "\e0d9";
}
.ico-tongue:before {
	content: "\e0da";
}
.ico-tongue-2:before {
	content: "\e0db";
}
.ico-sad:before {
	content: "\e0dc";
}
.ico-sad-2:before {
	content: "\e0dd";
}
.ico-wink:before {
	content: "\e0de";
}
.ico-wink-2:before {
	content: "\e0df";
}
.ico-grin:before {
	content: "\e0e0";
}
.ico-grin-2:before {
	content: "\e0e1";
}
.ico-cool:before {
	content: "\e0e2";
}
.ico-cool-2:before {
	content: "\e0e3";
}
.ico-angry:before {
	content: "\e0e4";
}
.ico-angry-2:before {
	content: "\e0e5";
}
.ico-evil:before {
	content: "\e0e6";
}
.ico-evil-2:before {
	content: "\e0e7";
}
.ico-shocked:before {
	content: "\e0e8";
}
.ico-shocked-2:before {
	content: "\e0e9";
}
.ico-confused:before {
	content: "\e0ea";
}
.ico-confused-2:before {
	content: "\e0eb";
}
.ico-neutral:before {
	content: "\e0ec";
}
.ico-neutral-2:before {
	content: "\e0ed";
}
.ico-wondering:before {
	content: "\e0ee";
}
.ico-wondering-2:before {
	content: "\e0ef";
}
.ico-point-up:before {
	content: "\e0f0";
}
.ico-point-right:before {
	content: "\e0f1";
}
.ico-point-down:before {
	content: "\e0f2";
}
.ico-point-left:before {
	content: "\e0f3";
}
.ico-warning:before {
	content: "\e0f4";
}
.ico-notification:before {
	content: "\e0f5";
}
.ico-question:before {
	content: "\e0f6";
}
.ico-info:before {
	content: "\e0f7";
}
.ico-info-2:before {
	content: "\e0f8";
}
.ico-blocked:before {
	content: "\e0f9";
}
.ico-cancel-circle:before {
	content: "\e0fa";
}
.ico-checkmark-circle:before {
	content: "\e0fb";
}
.ico-spam:before {
	content: "\e0fc";
}
.ico-close:before {
	content: "\e0fd";
}
.ico-checkmark:before {
	content: "\e0fe";
}
.ico-checkmark-2:before {
	content: "\e0ff";
}
.ico-spell-check:before {
	content: "\e100";
}
.ico-minus:before {
	content: "\e101";
}
.ico-plus:before {
	content: "\e102";
}
.ico-enter:before {
	content: "\e103";
}
.ico-exit:before {
	content: "\e104";
}
.ico-play:before {
	content: "\e105";
}
.ico-pause:before {
	content: "\e106";
}
.ico-stop:before {
	content: "\e107";
}
.ico-backward:before {
	content: "\e108";
}
.ico-forward-2:before {
	content: "\e109";
}
.ico-play-2:before {
	content: "\e10a";
}
.ico-pause-2:before {
	content: "\e10b";
}
.ico-stop-2:before {
	content: "\e10c";
}
.ico-forward-3:before {
	content: "\e10e";
}
.ico-first:before {
	content: "\e10f";
}
.ico-last:before {
	content: "\e110";
}
.ico-previous:before {
	content: "\e111";
}
.ico-next:before {
	content: "\e112";
}
.ico-eject:before {
	content: "\e113";
}
.ico-volume-high:before {
	content: "\e114";
}
.ico-volume-medium:before {
	content: "\e115";
}
.ico-volume-low:before {
	content: "\e116";
}
.ico-volume-mute:before {
	content: "\e117";
}
.ico-volume-mute-2:before {
	content: "\e118";
}
.ico-volume-increase:before {
	content: "\e119";
}
.ico-volume-decrease:before {
	content: "\e11a";
}
.ico-arrow-left:before {
	content: "\e11b";
}
.ico-arrow-up-left:before {
	content: "\e11c";
}
.ico-arrow-up:before {
	content: "\e11d";
}
.ico-arrow-up-right:before {
	content: "\e11e";
}
.ico-arrow-right:before {
	content: "\e11f";
}
.ico-arrow-down-right:before {
	content: "\e120";
}
.ico-arrow-down:before {
	content: "\e121";
}
.ico-arrow-down-left:before {
	content: "\e122";
}
.ico-arrow-left-2:before {
	content: "\e123";
}
.ico-arrow-up-left-2:before {
	content: "\e124";
}
.ico-radio-checked:before {
	content: "\e125";
}
.ico-radio-unchecked:before {
	content: "\e126";
}
.ico-crop:before {
	content: "\e127";
}
.ico-scissors:before {
	content: "\e128";
}
.ico-filter:before {
	content: "\e129";
}
.ico-filter-2:before {
	content: "\e12a";
}
.ico-font:before {
	content: "\e12b";
}
.ico-text-height:before {
	content: "\e12c";
}
.ico-text-width:before {
	content: "\e12d";
}
.ico-bold:before {
	content: "\e12e";
}
.ico-paragraph-left:before {
	content: "\e12f";
}
.ico-paragraph-center:before {
	content: "\e130";
}
.ico-paragraph-right:before {
	content: "\e131";
}
.ico-paragraph-justify:before {
	content: "\e132";
}
.ico-paragraph-left-2:before {
	content: "\e133";
}
.ico-paragraph-center-2:before {
	content: "\e134";
}
.ico-paragraph-right-2:before {
	content: "\e135";
}
.ico-paragraph-justify-2:before {
	content: "\e136";
}
.ico-indent-increase:before {
	content: "\e137";
}
.ico-indent-decrease:before {
	content: "\e138";
}
.ico-google-plus:before {
	content: "\e139";
}
.ico-google-plus-2:before {
	content: "\e13a";
}
.ico-google-plus-3:before {
	content: "\e13b";
}
.ico-google-drive:before {
	content: "\e13c";
}
.ico-facebook:before {
	content: "\e13d";
}
.ico-facebook-2:before {
	content: "\e13e";
}
.ico-facebook-3:before {
	content: "\e13f";
}
.ico-instagram:before {
	content: "\e140";
}
.ico-twitter:before {
	content: "\e141";
}
.ico-twitter-2:before {
	content: "\e142";
}
.ico-flickr:before {
	content: "\e143";
}
.ico-flickr-2:before {
	content: "\e144";
}
.ico-flickr-3:before {
	content: "\e145";
}
.ico-picassa:before {
	content: "\e146";
}
.ico-picassa-2:before {
	content: "\e147";
}
.ico-dribbble:before {
	content: "\e148";
}
.ico-dribbble-2:before {
	content: "\e149";
}
.ico-dribbble-3:before {
	content: "\e14a";
}
.ico-forrst:before {
	content: "\e14b";
}
.ico-forrst-2:before {
	content: "\e14c";
}
.ico-joomla:before {
	content: "\e14d";
}
.ico-blogger:before {
	content: "\e14e";
}
.ico-blogger-2:before {
	content: "\e14f";
}
.ico-tumblr:before {
	content: "\e150";
}
.ico-tumblr-2:before {
	content: "\e151";
}
.ico-yahoo:before {
	content: "\e152";
}
.ico-tux:before {
	content: "\e153";
}
.ico-apple:before {
	content: "\e154";
}
.ico-finder:before {
	content: "\e155";
}
.ico-android:before {
	content: "\e156";
}
.ico-stumbleupon:before {
	content: "\e157";
}
.ico-stackoverflow:before {
	content: "\e158";
}
.ico-pinterest:before {
	content: "\e159";
}
.ico-pinterest-2:before {
	content: "\e15a";
}
.ico-xing:before {
	content: "\e15b";
}
.ico-xing-2:before {
	content: "\e15c";
}
.ico-flattr:before {
	content: "\e15d";
}
.ico-foursquare:before {
	content: "\e15e";
}
.ico-foursquare-2:before {
	content: "\e15f";
}
.ico-paypal:before {
	content: "\e160";
}
.ico-file-css:before {
	content: "\e161";
}
.ico-html5:before {
	content: "\e162";
}
.ico-html5-2:before {
	content: "\e163";
}
.ico-css3:before {
	content: "\e164";
}
.ico-chrome:before {
	content: "\e165";
}
.ico-firefox:before {
	content: "\e166";
}
.ico-IE:before {
	content: "\e167";
}
.ico-opera:before {
	content: "\e168";
}
.ico-safari:before {
	content: "\e169";
}
.ico-IcoMoon:before {
	content: "\e16a";
}
.ico-loop:before {
	content: "\e16b";
}
.ico-loop-2:before {
	content: "\e16c";
}
.ico-loop-3:before {
	content: "\e16d";
}
.ico-shuffle:before {
	content: "\e16e";
}
.ico-arrow-up-left-3:before {
	content: "\e16f";
}
.ico-arrow-up-2:before {
	content: "\e170";
}
.ico-arrow-up-right-2:before {
	content: "\e171";
}
.ico-arrow-right-2:before {
	content: "\e172";
}
.ico-arrow-down-right-2:before {
	content: "\e173";
}
.ico-arrow-down-2:before {
	content: "\e174";
}
.ico-arrow-down-left-2:before {
	content: "\e175";
}
.ico-arrow-up-3:before {
	content: "\e176";
}
.ico-arrow-up-right-3:before {
	content: "\e177";
}
.ico-arrow-right-3:before {
	content: "\e178";
}
.ico-arrow-down-right-3:before {
	content: "\e179";
}
.ico-arrow-down-3:before {
	content: "\e17a";
}
.ico-arrow-down-left-3:before {
	content: "\e17b";
}
.ico-arrow-left-3:before {
	content: "\e17c";
}
.ico-tab:before {
	content: "\e17d";
}
.ico-checkbox-checked:before {
	content: "\e17e";
}
.ico-checkbox-unchecked:before {
	content: "\e17f";
}
.ico-checkbox-partial:before {
	content: "\e180";
}
.ico-underline:before {
	content: "\e181";
}
.ico-italic:before {
	content: "\e182";
}
.ico-strikethrough:before {
	content: "\e183";
}
.ico-omega:before {
	content: "\e184";
}
.ico-sigma:before {
	content: "\e185";
}
.ico-table:before {
	content: "\e186";
}
.ico-table-2:before {
	content: "\e187";
}
.ico-insert-template:before {
	content: "\e188";
}
.ico-pilcrow:before {
	content: "\e189";
}
.ico-left-to-right:before {
	content: "\e18a";
}
.ico-right-to-left:before {
	content: "\e18b";
}
.ico-new-tab:before {
	content: "\e18c";
}
.ico-embed:before {
	content: "\e18d";
}
.ico-code:before {
	content: "\e18e";
}
.ico-console:before {
	content: "\e18f";
}
.ico-share:before {
	content: "\e190";
}
.ico-mail:before {
	content: "\e191";
}
.ico-mail-2:before {
	content: "\e192";
}
.ico-mail-3:before {
	content: "\e193";
}
.ico-mail-4:before {
	content: "\e194";
}
.ico-google:before {
	content: "\e195";
}
.ico-google-plus-4:before {
	content: "\e196";
}
.ico-twitter-3:before {
	content: "\e197";
}
.ico-feed-2:before {
	content: "\e198";
}
.ico-feed-3:before {
	content: "\e199";
}
.ico-feed-4:before {
	content: "\e19a";
}
.ico-youtube:before {
	content: "\e19b";
}
.ico-youtube-2:before {
	content: "\e19c";
}
.ico-vimeo:before {
	content: "\e19d";
}
.ico-vimeo2:before {
	content: "\e19e";
}
.ico-vimeo-2:before {
	content: "\e19f";
}
.ico-lanyrd:before {
	content: "\e1a0";
}
.ico-flickr-4:before {
	content: "\e1a1";
}
.ico-deviantart:before {
	content: "\e1a2";
}
.ico-deviantart-2:before {
	content: "\e1a3";
}
.ico-steam:before {
	content: "\e1a4";
}
.ico-steam-2:before {
	content: "\e1a5";
}
.ico-github:before {
	content: "\e1a6";
}
.ico-github-2:before {
	content: "\e1a7";
}
.ico-github-3:before {
	content: "\e1a8";
}
.ico-github-4:before {
	content: "\e1a9";
}
.ico-github-5:before {
	content: "\e1aa";
}
.ico-wordpress:before {
	content: "\e1ab";
}
.ico-wordpress-2:before {
	content: "\e1ac";
}
.ico-windows:before {
	content: "\e1ad";
}
.ico-windows8:before {
	content: "\e1ae";
}
.ico-soundcloud:before {
	content: "\e1af";
}
.ico-soundcloud-2:before {
	content: "\e1b0";
}
.ico-skype:before {
	content: "\e1b1";
}
.ico-reddit:before {
	content: "\e1b2";
}
.ico-linkedin:before {
	content: "\e1b3";
}
.ico-lastfm:before {
	content: "\e1b4";
}
.ico-lastfm-2:before {
	content: "\e1b5";
}
.ico-delicious:before {
	content: "\e1b6";
}
.ico-stumbleupon-2:before {
	content: "\e1b7";
}
.ico-paypal-2:before {
	content: "\e1b8";
}
.ico-paypal-3:before {
	content: "\e1b9";
}
.ico-yelp:before {
	content: "\e1ba";
}
.ico-libreoffice:before {
	content: "\e1bb";
}
.ico-file-pdf:before {
	content: "\e1bc";
}
.ico-file-openoffice:before {
	content: "\e1bd";
}
.ico-file-word:before {
	content: "\e1be";
}
.ico-file-excel:before {
	content: "\e1bf";
}
.ico-file-zip:before {
	content: "\e1c0";
}
.ico-file-powerpoint:before {
	content: "\e1c1";
}
.ico-file-xml:before {
	content: "\e1c2";
}
.ico-home:before {
	content: "\e015";
}
.ico-home-2:before {
	content: "\e016";
}
.ico-home-3:before {
	content: "\e017";
}
.ico-office:before {
	content: "\e018";
}
.ico-newspaper:before {
	content: "\e019";
}
.ico-pencil:before {
	content: "\e01a";
}
.ico-pencil-2:before {
	content: "\e01b";
}
.ico-quill:before {
	content: "\e01c";
}
.ico-pen:before {
	content: "\e01d";
}
.ico-blog:before {
	content: "\e01e";
}
.ico-droplet:before {
	content: "\e01f";
}
.ico-paint-format:before {
	content: "\e020";
}
.ico-image:before {
	content: "\e021";
}
.ico-image-2:before {
	content: "\e022";
}
.ico-images:before {
	content: "\e023";
}
.ico-camera-2:before {
	content: "\e024";
}
.ico-music:before {
	content: "\e025";
}
.ico-headphones:before {
	content: "\e026";
}
.ico-play-3:before {
	content: "\e027";
}
.ico-backward-2:before {
	content: "\e10d";
}
.ico-map-2:before {
	content: "\e045";
}
.ico-arrow-left-4:before {
	content: "\e1c3";
}
.ico-arrow-down-4:before {
	content: "\e1c4";
}
.ico-arrow-up-4:before {
	content: "\e1c5";
}
.ico-untitled:before {
	content: "\e1c6";
}
.ico-arrow-down-5:before {
	content: "\e1c7";
}
.ico-arrow-up-5:before {
	content: "\e1c8";
}
.ico-arrow-right-4:before {
	content: "\e1c9";
}
.ico-arrow-left-5:before {
	content: "\e1ca";
}
.ico-arrow-down-6:before {
	content: "\e1cb";
}
.ico-arrow-up-6:before {
	content: "\e1cc";
}
.ico-arrow-right-5:before {
	content: "\e1cd";
}
.ico-arrow-left-6:before {
	content: "\e1ce";
}
.ico-record:before {
	content: "\e1cf";
}
