.login{display:block;}
.login .modal-dialog{ width:360px;}
.login .modal-content{ border:5px #394557 solid;}
.login .modal-header{ padding:5px 15px 8px;}
.login .modal-header .alert{ margin:0; display: none;}
.login .modal-footer{margin:0; padding:15px 10px;}

.login-marking{ padding:0 15px 10px; text-align:center;}
.modal-backdrop-login{background:#1D2024;}

#loginError label{display:block; margin-bottom:2px;}
